*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --topPadrao: 30px;
    --alignPadrao: center;
    --coloPadrao: #ff5100ea;
    --transPadrao: capitalize;
}

.container-main h1{
    margin-top: var(--topPadrao);
    text-align: var(--alignPadrao);
    color: var(--coloPadrao);
    text-transform: var(--transPadrao);
}

html,body{
    height: 100%;

}

.container-main{
   width: 100%;
}


.form{
    display: none;
}

.botao{
    text-align: center;
    width: 100%;
    max-width: 200px;
    line-height: 35px;
    margin: 0 auto;
    text-transform: capitalize;
    margin-top: 30px;
    cursor: pointer;
    color: white;
    border: 0;
    border-radius: 20px;
    background:#ff8800;
}

.botao, p{
    width: 100%;
}

.form{
    text-align: center;
    padding: 15px;
    
}

.form img{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 35px;
}

.fechar{
    display: none;
    text-align: center;
    text-transform: capitalize;
    width: 120px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    background: #ff8800;
  
}


.form input[type=text],
.form input[type=email],
.form input[type=telefone],.form textarea:focus{ outline: none; }

.form input[type=text],
.form input[type=email],
.form input[type=telefone]{   
    display: block; 
    width: 100%;
    max-width: 600px;
    padding-left: 15px;
    height: 40px;
    margin: 10px auto;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 20px;
}

.form textarea{
    width: 100%;
    max-width: 600px;
    height: 120px;
    padding: 15px;
    margin: 10px auto;
    font-size: 19px;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.form input[type=submit]{
    text-align: center;
    width: 100%;
    max-width: 600px;
    height: 40px;
    margin: 10px auto;
    background-color: #ff8800; 
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    
}

